.header {
  width: 100% !important;
  justify-content: space-between;
  border-bottom: 2px solid #222;
}

.logo {
  width: 100px;
  height: auto;
  margin: 0 10px;
  cursor: pointer;
}

.title-div {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 4rem;
  color: #222;
  font-style: italic;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: auto;
  margin: 0 20px;
  cursor: pointer;
}