.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  top: 0.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.order-date-input {
  margin: 20px;
  font-size: 2rem;

  & input {
    font-size: 1rem;
    margin: 0 10px;
  }
}

.menu {
  width: 100%;
  justify-content: space-evenly;
}

.menu-card {
  .card-title {
    font-size: 2rem;

    .switch {
      margin: 5px 0 0 10px;
    }
  }
  
  .meal-pic {
    width: 200px;
    height: 200px;
    margin: 30px 0 20px 0;
    border: 2px solid black;
    border-radius: 10px;
  }

  .inputDiv {
    margin: 0 10px;
  }
}

button {
  margin-top: 50px;
  padding: 1rem 2rem;
  font-size: 2em;
  background: #fff;
  cursor: pointer;

  &:enabled:hover {
    background: #222;
    color: #fff;
    border: 2px solid white;
  }
}

[name="bCheck"] + .b {
  display: none;
}

[name="bCheck"]:checked + .b {
  display: flex;
}

[name="lCheck"] + .l {
  display: none;
}

[name="lCheck"]:checked + .l {
  display: flex;
}