<div class="home f-col">
  <header class="home-header f-row">
    <div class="logo-div f-row">
      <img src="/assets/images/W-grey.png" alt="logo" class="logo" />
      <p class="title">WORKHUB</p>
    </div>

    <div class="profile-div">
      <img src="/assets/images/user-profile.png" alt="" routerLink="/user" />
    </div>
  </header>

  <div class="home-content f-row">
    <div class="home-grid">
      <div class="cell cell-1">
        <div class="cell-content f-col">
          <p class="cell-title">Schedule a Meeting</p>
          <p class="button" routerLink="/office">Book a Room</p>
        </div>
      </div>

      <div class="cell cell-2">
        <div class="cell-content f-col">
          <p class="cell-title">Order a Meal</p>
          <p class="button" routerLink="/cafeteria">Open Cafeteria</p>
        </div>
      </div>

      <div class="cell cell-3">
        <div class="cell-content f-col">
          <p class="cell-title">Fancy a Book?</p>
          <p class="button" routerLink="/library">Visit the Library</p>
        </div>
      </div>

      <div class="cell cell-4">
        <div class="cell-content f-col">
          <p class="cell-title">Need a ride home?</p>
          <p class="button" routerLink="/rides">Book a Cab</p>
        </div>
      </div>
    </div>
  </div>
</div>
