/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Utility Classes

// FlexBox
.f-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Margin
.m1 { margin: 1rem; }
.m2 { margin: 2rem; }
.m3 { margin: 3rem; }
.m4 { margin: 4rem; }

// Padding
.p1 { padding: 1rem; }
.p2 { padding: 2rem; }
.p3 { padding: 3rem; }
.p4 { padding: 4rem; }